* { margin: 0; padding: 0;}

body, html { height:100%; }

#container, #c {
  height: 100%;
  width: 100%;
}

#container { position: relative; }

#c {
  position: absolute;
  z-index: 1;
}

.animal-img {
  z-index: 2;
  position: absolute;
}
